div > ul > li > a{
    font-weight: 700;
}
.carousel-inner img {
    width: 100%;
    height: 600px;
}
#tachado{
    text-decoration: line-through;
}
#Jumbotron{
    font-family: 'Permanent Marker', cursive;
}
